body{
    font-family:sans-serif;
    margin:0;
    background-color: #f0f0f0;
    font-family:sans-serif;
}

.grid{
    width:80%;
    margin:auto;
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-rows:.20fr 1fr .15fr;
    grid-template-areas:
    "header header"
    "aside article"
    "nav nav"
    
}

h3{
    font-size:40px;
    margin:0;
    font-weight:normal;
}

.header-heading{
    font-size:80px;
    margin:0;
    font-weight:normal;
    padding-bottom:15px;
}

header{
    grid-area:header;
    padding-top:20px;
    padding-bottom:30px;
    background-color:#040972;
    display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
}

header, h3{
    font-size:40px;
    margin:0;
    font-weight:normal;
}

aside{
    grid-area:aside;
    background-color: #64b0a7;
    font-size:27px;
    vertical-align:text-top;
    padding:10px;
}

article{
    grid-area:article;
    background-color: white;
    padding-right:10%;
    vertical-align:text-top;
    padding:50px;
    font-size:20px;
    
}

footer{
    grid-area:nav;
    background-color:#f2eaa6;
    font-family: monospace;
    font-weight: bold;
    font-size:20px;
    
}

ul, a{
    color:black;
    font-family: sans-serif;
    display:flex;
    justify-content:space-around;
    align-content:center;
    margin-top:20px;
    
}


.header-heading{
     font-size:60px;
 }

img{
    padding-top:15px;
     height:400px;
     width:460px;
}


.aside-list{
    display:flex;
    flex-direction:column;
}


.aside-sub-ul{
    display:flex;
    flex-direction:column;
    list-style:disc;
}

.footer-ul{
    list-style:none;
}